# File .env
# Backend Config
HOST=
PORT=

# JWT
JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SERCRET=

# Database (Local connect) cổng 3307 (của docker mysql)
DATABASE_URL=

# MySQL Settings (Cho Docker)
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_PORT=

# Redis (Local connect)
REDIS_HOST=
REDIS_PORT=
# URL này để backup thôi, code chúng ta sẽ dùng HOST/PORT rời
REDIS_URL=

# AI Service
AI_SERVICE_PORT=
AI_SERVICE_URL=

# Mail config
MAIL_USER=
MAIL_PASS="
CLIENT_URL=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=